# Ignore Python Virtual Environment
att/

# Ignore ALL Node Modules
node_modules/
frontend/node_modules/
*/node_modules/

# Keep standard Python cache out
__pycache__/
*.pyc

# Environment variables - NEVER commit these
.env
.env.*
*.env

.env
*.env
.env.*
